<div class="content">
  <ul id="list">
    <% @messages.each do |message| %>
      <li id=<%= message.id %> class="well">
        <a href=<%= message_path(message)%>>  <%= message.title %>  <span class="label label-<%= message.tags.first.id == 1 ? 'info' : 'success' %>" > <%= message.tags.first.name %> </span></a>
      </li>
    <% end %>
  </ul>
</div>
