<!DOCTYPE html>
<html>
<head>
  <title>ListMarket</title>
  <%= stylesheet_link_tag "bootstrap.min.css", "bootstrap-responsive.min.css", "app.css" %>
  <%= javascript_include_tag :defaults, "bootstrap.min.js", "jquery.wookmark.min.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <span class="brand">
          List Market
        </span>
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"></a>
        <div class="nav-collapse">
          <ul class="nav">
            <li> <%= link_to "Messages", messages_path %> </li>
            <li> <%= link_to "Home", root_path %> </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="pseudo-topbar">
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
        <%= yield %>
    </div>
  </div>
</body>
</html>
